<div class="addMovie d-none" data-add-movie-target="modal">
  <div class="addMovie-content">
    <h2>Ajouter un film</h2>
    <form action="">
      <input type="text" name="title" placeholder="Adresse allociné du film à ajouter" data-add-movie-target="title" class="search-allocine">
      <input type="submit" value="Rechercher" data-action="click->add-movie#findMovie" class="btn btn-primary btn-allocine">
    </form>
    <div data-add-movie-target="new">
    </div>
    <div class="d-none" data-add-movie-target="buttons">
      <a href="#" data-action="click->add-movie#refuse">Relancer la recherche</a>
      <button data-action="click->add-movie#add" class='btn btn-primary'>Ajouter</button>
    </div>
  </div>
</div>
