<div class="header">
  <div class="container">
    <h1 id="title">Tous les meilleurs films au même endroit</h1>
    <p class="sub-title sub-title-header">Où que vous soyez !</p>
    <%= render 'shared/searchbar' %>
  </div>
</div>

<div class="categories">
  <% if @categories.empty? %>
    <p>Pas encore de catégorie</p>
  <% else %>
    <h2 class="sub-title">Categories</h2>
    <div class="cards">
      <%= render 'shared/cardCategory', locals: { categories: @categories } %>
    </div>
    <%= render 'shared/categoryHome', locals: { categories: @categories } %>
  <% end %>
</div>
